
body {
  width: 960px;
}

h1,h2,h3,h4,h5,h6 {
}

button {
  background: black;
  color: white;
  padding:15px;
  border: 3px solid blue;
}
canvas {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Appacademylogo.png/175px-Appacademylogo.png);
  background-repeat: no-repeat;
  background-position: center;
}
p {
  display: inline;
}
.center-align {
  text-align: center;
}
